@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Sofia Sans', sans-serif;
}

.from-opacity {
    animation-name: fromOpacity;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;

}

@keyframes fromOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: .1;
    }
}